/*ナビゲーション*/
.header_nav {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.header_nav li {
  margin-right: 30px;
}
body {
    padding-top: 70px;
}
/* エラーメッセージ用のスタイル */
.error {
  color: red;
}
/* 成功メッセージ用のスタイル */
.success {
  color: green;
}
/* 削除ボタン用のスタイル */
.delete {
  display: inline;
}
/* トップページのスタイル */
.items {
  padding: 0;
}
.item {
  /*margin: 10px;*/
  /*list-style: none;*/
  /*border: solid 1px black;*/
  /*border-bottom: solid 1px black;*/
}
/*.body_main_top {*/
/*  display: flex;*/
/*}*/
/*.card img {*/
/*  width: 200px;*/
  /*height: 200px;*/
/*}*/
.content_img img{
  width: 100%;
}
/*管理画面*/
.item_table {
	border-collapse: collapse;
	margin-top: 20px;
}
.item_table th, .item_table td {
	border: solid 1px black;
	padding: 5px;
}
.admin_image {
	max-height: 200px;
}
.ratio {
    position: relative;
}
.ratio:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.bg-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}